@tailwind base;

@layer base {
    h1, h2, h3 {
        @apply mt-2 mb-3;
    }
    h1 {
        @apply text-3xl font-bold;
    }
    h2 {
        @apply text-2xl font-bold;
    }
    h3 {
        @apply text-xl font-bold;
    }
    ul {
        @apply list-disc list-inside
    }
}

@tailwind components;
@tailwind utilities;

@keyframes diagonal-move {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(10px, -10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
.arrow {
    animation: diagonal-move 2s infinite;
}